# Django Core
export DJANGO_SECRET_KEY='9gg)@^#6+3&r33*#gszht&v=7-88^fqn-d3#2l3*sh^b*tfm3l'
export DJANGO_LOGLEVEL=debug

# Database
export DB_ENGINE=django.db.backends.postgresql
export DB_NAME=monddb
export DB_USER=mond
export DB_PASSWORD='999927nfopfh8282yfmo3027dbwfpmz01q'
export DB_HOST=zm_db
export DB_PORT=5432

# Email
export BREVO_API_KEY='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'
export DEFAULT_FROM_EMAIL='reservation@zirkusmond.de'

# PayPal (Sandbox)
export PAYPAL_CLIENT_ID='Ad_26WJhrD5hvWOIe4y9z2z2XV8d66D_SNPenIKlUazAJG3bhmQwZfyagXFdZ4ZL15KvVxnz6P5O7VaE'
export PAYPAL_SECRET='EC_3Evhzbfb1F_ZYCMNih4bH0Oj3U7sCRmvRCcmjAktzbsEMbgnF2_byg1n5FU6N708O2Mws6zjMupnS'
export PAYPAL_ENDPOINT='https://api.sandbox.paypal.com'

# Stripe (Sandbox)
export STRIPE_SECRET_KEY='sk_test_51OczecLXJ9LQjER4DYUZoyxXvKULAlJcNbq8DssE3EBSz5sz2geMZh6WLzCSCzGUIGcwYnjCvm5oS47O57Xzd9B700I1MDXwTu'

# Stripe (Live) - only used in production
export STRIPE_SECRET_KEY_LIVE='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'

# PayPal (Live) - only used in production
export PAYPAL_CLIENT_ID_LIVE='AQuG7F5Z8riP9M6kXdz0jXMFPl-dYWxY6xLPg7X1iU2qmIA7tKFwosYA3r2Un_NKL42cwlhQkfkOjGM-'
export PAYPAL_SECRET_LIVE='EIiUdLCQAB3P9cr2r0lybJunYuZ9VANhEnp3cdu-jOqj5GTwSa96m8Yf2SvsFcAxDD9CI6Qz8Q4SVOGV'
export PAYPAL_ENDPOINT_LIVE='https://api.paypal.com'