# Python
backend/__pycache__/*
backend/**/__pycache__
**/__pycache__
*kate-swp
.venv/*
backend/.venv/*

# Backend
backend/db.sqlite*
backend/media/*
backend/static_/*
backend/templates/mond.html

# Frontend
frontend/node_modules/
frontend/dist
frontend/.DS_Store
frontend/*.local
frontend/package-lock.json
frontend/dist-ssr
frontend/.nitro
frontend/.tanstack
frontend/.wrangler
frontend/.output
frontend/.vinxi
frontend/__unconfig*
todos.json



frontend-1/node_modules/
frontend-1/dist
frontend-1/.DS_Store
frontend-1/*.local
frontend-1/package-lock.json



# Environment
.env
.env.local
.env.staging
.envrc

docker-compose.local.yml
#.claude
.coverage
.vscode