django-markdownx
markdown
django-payments
django-image-cropping
easy_thumbnails
jupyter_nbextensions_configurator
django_extensions
xlsxwriter
gunicorn
imaplib2
xmltodict
psycopg2-binary
psycopg2
stripe

