{% extends "show.html" %}
{% load static %}


{% block show_details %}
    <div class="w-fit md:p-8 p-4 mx-auto flex flex-col text-center md:text-xl text-white my-8">
        <h2 class="text-3xl text-zm-yellow my-6">Thank you for your reservation</h2><!-- center -->
        <div class="my-8 ">
            <p class="my-8">A confirmation email has been sent to {{ payment.reservation.reservant.email }}.
                Please check your spam folder as well! We are looking forward to seeing you!
            </p> 
            <p>We open our gates at {{payment.reservation.event.admission}}, the Show will start at 
                {{payment.reservation.event.begin}}</p>
            <p>If you have not been to our tent yet, you should ask OpenStreetMap for directions.<br>
            <a href="https://www.openstreetmap.org/directions?from=&to=52.54226%2C13.43250">https://www.openstreetmap.org/directions?from=&to=52.54226%2C13.43250</a></p>
            <p class="mt-8 text-2xl">See you at Zirkus Mond and have fun!</p>
            

           
        </div>
        <div class="deko"> <img class="mx-auto" src="{% static "media/images/gallery/copy.png" %}" alt="********"></img> </div>

    </div>
{% endblock %}
