{% extends "admin/base_site.html" %}

{% block content %}
<div style="">
<div style="width: 50%; margin: auto">
    <form action="" method="post">
    {% csrf_token %}

    {% if sample_text %}
    <h2>Are you sure you want to send the mail?</h2>
    <div style="background: var(--darkened-bg); padding: 1em; margin-top: 1em; margin-bottom: 1em;">
        <h3 style="margin-bottom:.5em;"> {{ sample_subject }} </h3>
        {{ sample_text|linebreaks }}
    </div>
    <input type="submit" name="send" value="Yes, Send mail">

    <hl>
    <div style="margin-top:3em;"></div>
    <h2>Change Mail</h2>
    {% endif %}

    <p style="width:100%;">
    <input type="text" name="subject" maxlength="255" required="" id="id_subject"  value="{{form.subject.value}}" style="width:100%;">
    </input>
    </p>
    <p>
    {{ form.text_field }}
    </p>
    {{ form.media }}
    <p>
        Use {% verbatim %} {{show_title}} or {{firstname}} {% endverbatim %}
    </p>

    <input type="hidden" name="action" value="{{action}}" />
    <input type="hidden" name="select_across" value="{{select_across}}">
    <input type="hidden" name="index" value="{{index}}">
    {% for selected  in selected_action %}
    <input type="hidden" name="_selected_action" value="{{ selected }}">
    {% endfor %}

    {% if sample_text %}
        <input type="submit" name="change" value="Change Mail"/>
    {% else %}
        <input type="submit" name="apply" value="Send Mail"/>
    {% endif %}
    </form>

    <h2>Recipients</h2>
    <table>
        {% for row in data %}
            <th></th>
            {% for k, d in row.items %}
                <tr><td> {{ k }}</td><td>{{ d }}</td></tr>
            {% endfor %}
        {% endfor %}
    </table>
</div>
</div>
{% endblock %}
