{% extends "html_design.html" %}

{% block content %}
<div class="container-fluid">

</div>
<div class="zm-container">
    <div class="">
        {% for album in alben %}
            <a href="/gallery/{{album.pk}}">
                <div class="card">
                    <img class="ratio ratio-16x9" width="200px" src="{{MEDIA_URL}}{{album.cover.image}}" alt="{{ album.name }}">
                    <div class="card-body">
                        <h3>{{album.name}}</h3>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

Hier kommen unsere alben Hin!
{% endblock %}
