{% extends "show.html" %}
{% load static %}

{% block title %}Zirkus Mond Reservation - {{ show.title }}{% endblock %}

{% block show_details %}

        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="row form row-padding">

            <div class="col-md-4 ticket-form">
                    <h3>Tickets</h3>
                    {{ rForm.event.label_tag }}
                    {{ rForm.event }}
                    <div class="err_msg">
                    {% for err in rForm.event.errors %}
                        {{ err }}
                    {% endfor %}
                    </div>

                    {{ rForm.attendee_count.label_tag }}
                    {{ rForm.attendee_count }}

                    Reservation costs 5Eur per Ticket, additional 10 to 25Eur entrance fee will be payed at the box office.
            </div>

            <div class="col-md-8 input-form">
                <h3>Kontaktdaten/Rechnungsaddresse</h3>
                {% for attr_list in pForm.line_tuples %}
                    <div class="row">
                        {% for attr in attr_list %}
                            <div class="col-md-{% widthratio 12 attr_list|length 1 %}">
                                {{attr.label_tag}}
                                {{attr}}

                                {% for err in attr.errors %}
                                <div class="err_msg">
                                    {{ err }}
                                </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>


            {% if gForms %}
            <br />
            <div class="row form row-padding">
                {{ gForms.management_form }}

                    {% for form in gForms %}
                        <div class="col-md-4 mb-3"><div class="card">
                            <div class="card-body">
                                <h4 class="card-title">GUEST {{ forloop.counter }}</h4>
                                {% for attr_list in form.line_tuples %}
                                    <div class="row">
                                        {% for attr in attr_list %}
                                            <div class="col-md-{% widthratio 12 attr_list|length 1 %}">
                                                {{attr.label_tag}}
                                                {{attr}}

                                                <div class="err_msg">

                                                    {% for err in attr.errors %}
                                                    <div class="err_msg">
                                                        {{ err }}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            {% endif %}

            <div class="row row-padding">
                <div style="background-color: #FFFFFF30;margin: 0.3em;">
                    <input type="checkbox" name="res-covid_stuff" required id="id_res-covid_stuff" style="
                        margin: 0;
                        vertical-align: baseline;
                        display:  inline;
                        width: fit-content;
                        vertical-align: center;
                        margin-top: 0.4em;
                        margin-right: 1em;" {% if rForm.covid_stuff.value %} checked {% endif %}">
                    I hereby acknowledge that my Guests and I can only attend with an official negative Test, Vaccination or Recovery Attest.
            </div></div>

            <div class="row row-padding">
                <div style="background-color: #FFFFFF30;margin: 0.3em;">
                    <input type="checkbox" name="newsletter" id="newsletter" style="
                        margin: 0;
                        vertical-align: baseline;
                        display:  inline;
                        width: fit-content;
                        vertical-align: center;
                        margin-top: 0.4em;
                        margin-right: 1em;" {% if newsletter %} checked {% endif %}">
                    I would like to receive the Zirkus Mond newsletter.
            </div></div>

            <div class="row row-padding">
                <h3>Pay with</h3>
            </div>
            <div class="row mb-3">
                <div class="col col-padding">
                    <input type="submit" style="width: 100%;" class="button" id="sofort" name="payment-method" value="sofort">
                </div>
                <div class="col col-padding">
                    <input type="submit" style="width: 100%;" class="button" id="paypal" name="payment-method" value="paypal">
                </div>
                <div class="col col-padding">
                    <input type="submit" style="width: 100%;" class="button" id="coinbase" name="payment-method" value="coinbase">
                </div>
            </div>

        </form>
{% endblock %}
