{% extends "html_base.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}

<h2 class="text-6xl text-center py-8">Welcome to the Moon</h2>
<section class="about-page flex flex-col">
    <div class="about-page__header">
        <div class="banner-image mx-auto mb-8">
            <img class="w-full" src="{% static "zm/img/img-9.jpg" %}" alt="Zirkus Mond Image">
        </div>
        <div class="about-text p-4 md:p-10">
            <p class="text-xl">Der Zirkus Mond, Treffpunkt der Berliner Artistenszene, Veranstaltungsort für Zirkus, Theater, Tanz & Konzerte erwuchs 2018 aus den Umtrieben der Kinder Des Mondes, einem fluiden Kollektiv internationaler ArtistInnen, TänzerInnen & KünstlerInnen, die zuvor über 10 Jahre im kulturellen Untergrund Berlins agierten und in unregelmäßigen Abständen leer stehende Gebäude, Brachflächen oder auch öffentliche Plätze mit Liebe und Leben füllten. Nun gibt es im Himmelskörper-Habitat Zirkus Mond jeden Monat 2 eigenproduzierte Shows und 2 Gastveranstaltungen, wobei durch wechselnde ArtistInnen und Konzepte jede Show ein Unikat ist.</p>
            <p class="text-base text-left md:text-center md:text-xl pb-8">Die Pforten unseres Zirkuszeltes stehen offen für alle, die Lust haben, einen Ort der Gemeinschaft, des Schaffens und der Liebe zum Leben zu besuchen, zu bespielen und mitzugestalten.</p>
        </div>
    </div>
    
        <h3 class="text-6xl text-center pt-10">Meet the Team</h3>
            <div class="deko"> <img class="mx-auto my-10" src="{% static "zm/img/deko-1.png" %}" alt="********"/> </div>
                <div class="member-container w-full mx-auto">
                    <div class="member-text p-4 text-center flex flex-col">
                        <img class="image__member" src="{% static "zm/img/MnM.png" %}" alt="Photo of Max">
                        <h4 class="text-3xl text-white  mt-8">Max & Marlen</h4>
                        <p class="text-lg pt-3">Zirkus Directors</p>
                    </div>

                    <div class="member-text p-4 text-center flex flex-col">
                        <img class="image__member juan" src="{% static "zm/img/img-6.jpg" %}" alt="Photo of Juan">    
                        <h4 class="text-3xl text-white text-center mt-8">Juan</h4>
                        <p class="text-lg pt-3">Artistic Director</p>
                    </div>

                    <div class="member-text p-4 text-center flex flex-col">
                        <img class="image__member" src="{% static "zm/img/maria.jpg" %}" alt="Photo of Maria">
                        <h4 class="text-3xl text-white text-center mt-8">Maria</h4>
                        <p class="text-lg pt-3">Head of Productions</p>
                    </div>

                    <div class="member-text p-4 text-center flex flex-col">
                        <img class="image__member" src="{% static "zm/img/valerio.jpg" %}" alt="Photo of Valerio">
                        <h4 class="text-3xl text-white text-center mt-8">Valerio</h4>
                        <p class="text-lg pt-3">Technician</p>
                    </div>

                    <div class="member-text p-4 text-center flex flex-col">
                        <img class="image__member" src="{% static "zm/img/alex.jpg" %}" alt="Photo of Alex">
                        <h4 class="text-3xl text-white text-center mt-8">Alex</h4>
                        <p class="text-lg pt-3">IT</p>
                    </div>
                </div>
            </div>
        <div class="deko"> <img class="mx-auto my-12" src="{% static "zm/img/deko-2.png" %}" alt="********"/> </div>
</section>

{% endblock %}
