
<div class="ratio ratio-16x9 text-center">
    <video autoplay loop muted class="shadowed-content">
        <source src="/static/video.mp4" type="video/mp4">
        <!---
            <source src="mySmallVideo.webm" type="video/webm" media="all and (max-width:600px)">
            <source src="myVideo.webm" type="video/webm">
        --->
    </video>
    <a href="https://www.youtube.com/channel/UCa4CK1Fl7ZpTA6mz04wH6CA" class="btn youtube-btn2"><img style="height: 3rem; padding-bottom: 0.5rem;" src="static/zm/img/youtube.svg">   Go To Youtube</a>
</div>
