{% load static %}

<div class="zm-container">
    <div class="flex flex-col lg:flex-row contact justify-between lg:mx-16 p-4">
        <div class="lg:w-1/3 flex flex-col items-center">
            <h2 class="my-6 text-3xl text-white">Contact</h2>
            <div class="social w-full flex justify-center items-center">
                <div class="office-contact flex flex-col">
                    <div class="text-xl md:text-2xl my-6 underline">
                        <a href="mailto:zirkusmond@posteo.de">zirkusmond@posteo.de</a>  
                    </div>
                    <div class="flex justify-evenly items-center py-4">
                        <a href="https://www.youtube.com/channel/UCa4CK1Fl7ZpTA6mz04wH6CA">
                            <img class="w-12" src="{% static 'zm/icons/youtube.svg' %}" alt="YouTube">
                        </a>
                        <a href="https://de-de.facebook.com/zirkusmond">
                            <img class="w-12" src="{% static 'zm/icons/facebook.svg' %}" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com/zirkus_mond/">
                            <img class="w-12" src="{% static 'zm/icons/instagram.svg' %}" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="office-contact flex ">
                <p class="text-lg p-6">
                    Direct matters concerning reservations <a class="block my-6 underline" href="mailto:reservation@zirkusmond.de">reservation@zirkusmond.de</a> If you have a show or event and would like to present it at our venue, reach us <a  class="block my-6 underline" href="mailto:venue@zirkusmond.de">venue@zirkusmond.de</a><br>
                    If you are an Artist and want to get in touch with us, drop us a line at <a class="block my-6 underline" href="mailto:talent@zirkusmond.de">talent@zirkusmond.de</a>
                </p>
            </div>
        </div>
        <div class="my lg:w-1/3 flex justify-center">
            <div class="lg:w-3/5 w-4/5">
                <h2 class="my-6 text-3xl text-white">Find us</h2>
                <img class="w-9/12 m-auto max-w-80" src="/static/zm/img/map.jpeg" alt="Der Zirkus liegt in der Nähe der Lili-Henoch-Str.">
            </div>
        </div>
        <div class="last-blocks text-center lg:w-1/3">
            <h2 class="text-center text-3xl  my-6 text-white">Mailing List</h2>
            <p class="office-contact text-lg lg:pr-6">
                Want to be notified about new Shows? Hear what's going on on the moon? Not be forgotten or left out? Become part of our magical Mailing List!
            </p>
            <div class="my-6">
                <form action="/newsletter_registration" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="id_email">Email:</label>
                        <input class="my-6" type="email" name="email" maxlength="254" required id="id_email">
                    </div>
                    <input type="submit" value="Submit" class="button mt-8">
                </form>
            </div>
            <div class="last-blocks pb-6">
                <h2 class="text-3xl text-white">Support Us</h2>
                <div class="ls-iban my-6 text-center">
                    <h2 class="my-6 text-md  my-4">Bank Transfer/Überweisung: </h2>
                    <p class=" py-4">IBAN: DE34 4306 0967 1226 9437 00 </p>
                    <p class="text-md">BIC: GENODEM1GLS</p>
                </div>
                <div class="ls-betterplace">
                    <a href="https://www.paypal.com/donate?hosted_button_id=AA2ZBHH6JHX9E" class="button" id="donate-btn">Donate via PayPal</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mb-8">
    <a href="/impressum"><h2 class="text-3xl my-6">Impressum</h2></a>
    
    <div class="flex flex-col md:flex-row">
        <div class="px-4 lg:w-1/3">
            Tent at: Lilli-Henoch-Str.
            Office at:
            Kultstätte 58 GmbH
            Körtestraße 38
            10967 Berlin
        </div>
        <div class="px-4 lg:w-1/3">
            E-Mail: zirkusmond@gmail.com
            Geschäftsführer Max Mohr <br>
            Tel. Max Mohr: 015770280810
        </div>
        <div class="px-4 lg:w-1/3">
            Steuer-Nr.: 37 / 406 / 50011
            Steuer-ID: DE65 812 397 023
            USt-IdNr: DE319431419
        </div>
    </div>
</div>