{% load static %}
<div class="container" data-scroll-stage-id="intro">
    <div class="container__item mond" data-scroll-item-id="mondstage"><img src="{% static "zm/img/mond.png" %}"></div>
    <div class="container__item sterne" data-scroll-item-id="sternestage"><img src="{% static "zm/img/stars.png" %}"></div>
    <div class="container__item baum" data-scroll-item-id="baumstage"><img class="fill" src="{% static "zm/img/trees.png" %}"></div>
    <div class="container__item zelt" data-scroll-item-id="zeltstage"><img src="{% static "zm/img/tent.png" %}"></div>
    
    <div class="container__item busch" data-scroll-item-id="buschstage">
        <span class="title">
            Zirkus Mond is a circus tent permanently located in Prenzlauer Berg
            (Berlin) inside a creative park of contemporary artistic creation (Disko Babel). The main purpose of the space is to facilitate activities related with the Performing Arts: Circus, Theater and Dance.</span>
        <img src="{% static "zm/img/bush.png" %}"></img>
    </div>
</div>
