{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <div id="map"> </div>
        </div>

        <div class="col-md-12 col-lg-3">
            <div class="contact">
                Zirkus Mond <br/>
                Kultstätte 58 UG<br/>
                Körtestraße 38<br/>
                10967 Berlin<br/>

                <br/>

                <a href="mailto:zirkusmond@posteo.de">zirkusmond@posteo.de</a>
                <br>
                <br>
                <div class="social">
                    <a href="https://www.youtube.com/channel/UCa4CK1Fl7ZpTA6mz04wH6CA">Youtube</a>
                    <a href="https://de-de.facebook.com/zirkusmond">Facebook</a>
                    <a href="https://www.patreon.com/zirkusmond">Patreon</a>
                </div>
        </div>
    </div>
</div>

<div class="deko"> <img src="{% static "zm/img/copy.png" %}"></img> </div>


<script>
    var map = L.map('map').setView([52.54, 13.435], 17);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([52.54223, 13.43267]).addTo(map)
        .bindPopup('Zirkus Mond')
        .openPopup();
</script>
