{% load static %}

<div class="container-fluid" style="width: 100%; padding: 0px;">
    <img style="width:100%;" src="/static/zm/img/index_head.png" />
</div>  

<div class="container text-center">
    <h1 class="title">
        Zirkus Mond is a circus tent permanently located in Prenzlauer Berg
        (Berlin) inside a creative park of contemporary artistic creation (Disko Babel). The main purpose of the space is to facilitate activities related with the Performing Arts: Circus, Theater and Dance.
    </h1>
</div>

<!--            Der Zirkus Mond, Treffpunkt der Berliner Artistenszene, Veranstaltungsort für Zirkus, Theater, Tanz & Konzerte erwuchs 2018 aus den Umtrieben der Kinder Des Mondes, einem fluiden Kollektiv internationaler ArtistInnen, TänzerInnen & KünstlerInnen, die zuvor über 10 Jahre im kulturellen Untergrund Berlins agierten und in unregelmäßigen Abständen leer stehende Gebäude, Brachflächen oder auch öffentliche Plätze mit Liebe und Leben füllten. Nun gibt es im Himmelskörper-Habitat Zirkus Mond jeden Monat 2 eigenproduzierte Shows und 2 Gastveranstaltungen, wobei durch wechselnde ArtistInnen und Konzepte jede Show ein Unikat ist.-->

<!--            Die Pforten unseres Zirkuszeltes stehen offen für alle, die Lust haben, einen Ort der Gemeinschaft, des Schaffens und der Liebe zum Leben zu besuchen, zu bespielen und mitzugestalten. <br>-->
