{% extends "container_base.html" %}


{% block container_name %}streams{% endblock %}


{% block container_title %}
    STREAMS
{% endblock %}

{% block container_content %}
    <div class="video-container">
            <iframe class="video"
                src="https://www.youtube-nocookie.com/embed/videoseries?list=PLsQchy5y4bEVUAy-6MZV4XBHR4smOEm3I"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
    </div>
{% endblock %}
