{% extends "container_base.html" %}
{% load static %}

{% block container_name %}team{% endblock %}


{% block container_title %}
    TEAM
{% endblock %}

{% block container_content %}
    <div class="team">
        <div class="member">
            <img src="http://placehold.jp/200x200.png"> <br/>
            <span class="member-name">Juan</span>
        </div>
        <div class="member">
            <img src="http://placehold.jp/200x200.png"> <br/>
            <span class="member-name">Marlen</span>
        </div>
        <div class="member">
            <img src="http://placehold.jp/200x200.png"> <br/>
            <span class="member-name">Gael</span>
        </div>
        <div class="member">
            <img src="http://placehold.jp/200x200.png"> <br/>
            <span class="member-name">Paula</span>
        </div>
        <div class="member">
            <img src="http://placehold.jp/200x200.png"> <br/>
            <span class="member-name">Simon</span>
        </div>
        <div class="member">
            <img src="http://placehold.jp/200x200.png"> <br/>
            <span class="member-name">Max</span>
        </div>
    </div>
{% endblock %}
