{% load static %}
{% load cropping %}

<div class="container-fluid">
<div class="row">
    <div class="col-sm-12 col-md-4 text-center ls-first">
    
        <div class="ls-first-heading">
            <h1>Make Zirkus Mond Survive</h1>
                <h2>20th Of March</h2>
            <h3>8PM Berlin Time<h3/>
        </div>

        <div class="ls-live-stream-box-box text-center">
          <div class="ls-live-stream-box">
            <h1>LIVE <img style="height: 3rem; padding-bottom: 0.5rem;" src="/static/zm/livestreaming320/youtube.svg"><h1>
            <h2>Streaming</h2>
          </div>
        </div>
        
        <div class="ls-counter">
            <h1 id="ls-counter-h1">7days 3hours 23min 22sec</h1>
        </div>
    
        
    </div>

    <div class="col-sm-12 col-md-4 text-center ls-video">
        <video style="width:100%;" autoplay controls>
            <source src="/static/Crowdfunding promo March 2021_video_v01_sub_hb.mp4">
        </video>
    </div>

    <div class="col-sm-12 col-md-4 text-center ls-support">
        <h1>Support Us On</h1>

        <a href="https://www.betterplace.me/make-zirkus-mond-survive">
            <div class="ls-betterplace">
                <h2>Crowdfunding</h2>
                <h3>on BetterPlace.me</h3>
            </div>
        </a>

        <div class="ls-betterplace ls-iban">
                <h2>Via BankTransfer/Per Überweisung</h2>
                <h4>Zirkus Mond</h4>
                <h4>IBAN: DE34 4306 0967 1226 9437 00</h4>
                <h4>BIC: GENODEM1GLS</h4>
        </div>

        <div class="ls-betterplace">
            <a href="https://www.paypal.com/donate?hosted_button_id=AA2ZBHH6JHX9E"><h2>Per Paypal</h2></a>
            
            <form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="AA2ZBHH6JHX9E" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
</form>
        </div>
    </div>
</div>
</div>

<!--
<div class="container ">
    <div class="row row-cols-md-1 row-cols-lg-3 g-3">
    {% for show in upcoming_shows %}
        <div class="col-md4">
        <div class="card">
            <img class="card-img-top ratio ratio-16x9" src="{% cropped_thumbnail show "head_img" %}" />
            <div class="card-body">
                <h3 class="card-title">{{ show.title }}</h3>
                <p class="card-text">{{ show.dates_text }}</p>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
</div>
-->


<script src="/static/zm/livestreaming320/jquery.countdown.min.js"></script>
    <script type="text/javascript">
            $("#ls-counter-h1")
            .countdown("2021/03/20 20:00", function(event) {
                $(this).text(
                event.strftime('%D days %H Hours %M minutes %S Seconds')
                );
            });
        </script>
