{% load static %}

<div class="container-fluid" style="width: 100%; padding: 0px;">
    <img style="width:100%;" src="/static/zm/img/index_head.png" />
</div>  

<div class="container text-center">
    <h1 class="title">
        Zirkus Mond is a circus tent permanently located in Prenzlauer Berg
        (Berlin) inside a creative park of contemporary artistic creation (Disko Babel). The main purpose of the space is to facilitate activities related with the Performing Arts: Circus, Theater and Dance.
    </h1>
</div>

