{% load static %}
{% load cropping %}


<h3 class="text-center text-3xl lg:text-5xl my-12 text-zm-yellow">Upcoming Shows</h3>
    <div class="zm-container flex all-events mt-14 flex-wrap">
    {% for show in upcoming_shows %}
            <a href="/show/{{ show.id }}" class="w-fit block mx-5 lg:mx-16 my-12 ">
                <div class="card flex items-center flex-col">
                    <div class="py-2 text-orange-600">
                        <h3 class="card-title text-center text-4xl py-2">{{ show.title }}</h3>
                        <div class="md:text-2xl text-2xl py-4 w-80 text-center">{{ show.dates_text }}</div>
                    </div>
                    <div class="image-container ">
                        <img class="show-img" src="{{ MEDIA_URL }}{{ show.image1 }}" />
                    </div>
                    <!-- <div class="deko"> <img class="w-50 my-12" src="{% static "zm/img/deko-1.png" %}" alt="********"></img> </div> -->
                </div>
              </a>

    {% endfor %}
    
</div>

<div class="deko"> <img class="mx-auto my-12" src="{% static "zm/img/deko-2.png" %}" alt="********"></img> </div>