    <style>
        h1 {
            padding-bottom: 10px;
        }
        h2{
        }
        p {
            margin: 10px 0;
        }
        ul {
            padding-left: 20px;
            list-style-type: disc;
        }
        a {
        }
        a:hover {
            text-decoration: underline;
        }
        .section {
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 8px;
        }
        li{
            text-decoration: none;
        }
    </style>
    
    <h1>IHRE BETROFFENENRECHTE</h1>
    
    <div class="section">
        <h2>1. Erfassung allgemeiner Informationen beim Besuch unserer Website</h2>
        <p>Wenn Sie auf unsere Website zugreifen, d.h., wenn Sie sich nicht registrieren oder anderweitig Informationen übermitteln, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers, Ihre IP-Adresse und Ähnliches. </p>
        <p>Diese Informationen dienen folgenden Zwecken:</p>
        <ul>
            Sicherstellung eines problemlosen Verbindungsaufbaus<br>
            Sicherstellung einer reibungslosen Nutzung unserer Website<br>
            Auswertung der Systemsicherheit und -stabilität<br>
            Weitere administrative Zwecke<br>
        </ul>
    </div>
    
<h4>1.1 RECHTSGRUNDLAGE:</h4>
<p> Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website.</p>
<h4>1.2 EMPFÄNGER:</h4>
<p>Empfänger der Daten sind ggf. technische Dienstleister, die für den Betrieb und die Wartung unserer Webseite als Auftragsverarbeiter tätig werden.</p>
<h4>1.3 SPEICHERDAUER:</h4>
<p>Die Daten werden gelöscht, sobald diese für den Zweck der Erhebung nicht mehr erforderlich sind. Dies ist für die Daten, die der Bereitstellung der Webseite dienen, grundsätzlich der Fall, wenn die jeweilige Sitzung beendet ist.</p>
<h4>1.4 BEREITSTELLUNG VORGESCHRIEBEN ODER ERFORDERLICH:</h4>

Die Bereitstellung der vorgenannten personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne die IP-Adresse ist jedoch der Dienst und die Funktionsfähigkeit unserer Website nicht gewährleistet. Zudem können einzelne Dienste und Services nicht verfügbar oder eingeschränkt sein. Aus diesem Grund ist ein Widerspruch ausgeschlossen.

    
    <div class="section">
        <h2>2. Cookies</h2>
        <p>Unsere Website verwendet Cookies, um die Nutzererfahrung zu verbessern. Cookies sind kleine Textdateien, die auf Ihrem Gerät gespeichert werden und uns helfen, Ihre Nutzung der Website besser zu verstehen.</p>
        <p>Sie können die Verwendung von Cookies jederzeit über die Einstellungen Ihres Browsers deaktivieren.</p>
    </div>
    
    <div class="section">
        <h2>3. Registrierung auf unserer Website</h2>
        <p>Bei der Registrierung für personalisierte Leistungen erheben wir personenbezogene Daten wie Name, Adresse und E-Mail-Adresse. Registrierte Nutzer haben Zugriff auf exklusive Inhalte und Funktionen.</p>
        <h4>3.1 Rechtsgrundlage</h4>
        <p>Die Verarbeitung der bei der Registrierung angegebenen Daten basiert auf der Einwilligung des Nutzers gemäß Artikel 6 Absatz 1 lit. a der Datenschutz-Grundverordnung (DSGVO).</p>
    
        <h4>3.2 Empfänger</h4>
        <p>Mögliche Empfänger der Daten sind externe technische Dienstleister, die als Auftragsverarbeiter für den Betrieb und die Wartung unserer Website tätig sind.</p>
    
        <h4>3.3 Speicherdauer</h4>
        <p>Die Daten werden nur solange verarbeitet, wie die entsprechende Einwilligung vorliegt. Nach Ablauf der Einwilligung werden die Daten gelöscht, sofern keine gesetzlichen Aufbewahrungspflichten bestehen. Bei Fragen oder Anliegen in diesem Zusammenhang nutzen Sie bitte die Kontaktdaten, die am Ende dieser Datenschutzerklärung angegeben sind.</p>
    
        <h4>3.4 Bereitstellung vorgeschrieben oder erforderlich</h4>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig und basiert ausschließlich auf Ihrer Einwilligung. Ohne die Bereitstellung Ihrer personenbezogenen Daten können wir Ihnen keinen Zugang zu unseren angebotenen Inhalten und Leistungen gewähren.</p>
    </div>
    
    <div class="section">
        <h2>4. Erbringung kostenpflichtiger Leistungen</h2>
        <p>Zur Erbringung kostenpflichtiger Leistungen werden von uns zusätzliche Daten erfragt, wie z.B. Zahlungsangaben, um Ihre Bestellung ausführen zu können.</p>
    </div>
    
    <div class="section">
        <h2>4.1 Rechtsgrundlage</h2>
        <p>Gemäß Artikel 6 Absatz 1 lit. b der Datenschutz-Grundverordnung (DSGVO) erfolgt die Verarbeitung der erforderlichen Daten zur Erfüllung des Vertragszwecks.</p>
    </div>
    
    <div class="section">
        <h2>4.2 Empfänger</h2>
        <p>Empfänger der Daten sind ggf. Auftragsverarbeiter.</p>
    </div>
    
    <div class="section">
        <h2>4.3 Speicherdauer</h2>
        <p>Wir speichern diese Daten in unseren Systemen bis die gesetzlichen Aufbewahrungsfristen abgelaufen sind. Diese betragen grundsätzlich 6 oder 10 Jahre aus Gründen der ordnungsmäßigen Buchführung und steuerrechtlichen Anforderungen.</p>
    </div>
    
    <div class="section">
        <h2>4.4 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Bitte beachten Sie jedoch, dass ohne die Bereitstellung Ihrer personenbezogenen Daten kein Zugang zu unseren angebotenen Inhalten und Leistungen möglich ist.</p>
    </div>
    
    <div class="section">
        <h2>5. Kontaktformular</h2>
        <p>Die von Ihnen eingegebenen Daten werden zum Zweck der individuellen Kommunikation mit Ihnen gespeichert. Hierfür ist die Angabe einer validen E-Mail-Adresse sowie Ihres Namens erforderlich. Diese dient der Zuordnung der Anfrage und der anschließenden Beantwortung derselben. Die Angabe weiterer Daten ist optional.</p>
    </div>
    
    <div class="section">
        <h2>5.1 Rechtsgrundlage</h2>
        <p>Die Verarbeitung der bei der Registrierung angegebenen Daten erfolgt mit Ihrer Einwilligung gemäß Artikel 6 Absatz 1 lit. a der Datenschutz-Grundverordnung (DSGVO) als rechtliche Grundlage.</p>
    </div>
    
    <div class="section">
        <h2>5.2 Empfänger</h2>
        <p>Gegebenenfalls werden die Daten an Auftragsverarbeiter weitergegeben.</p>
    </div>
    
    <div class="section">
        <h2>5.3 Speicherdauer</h2>
        <p>Daten werden spätestens 6 Monate nach Bearbeitung der Anfrage gelöscht. Sofern es zu einem Vertragsverhältnis kommt, unterliegen wir den gesetzlichen Aufbewahrungsfristen nach HGB und löschen Ihre Daten nach Ablauf dieser Fristen.</p>
    </div>
    
    <div class="section">
        <h2>5.4 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig. Bitte beachten Sie jedoch, dass wir Ihre Anfrage nur bearbeiten können, wenn Sie uns Ihren Namen, Ihre E-Mail-Adresse und den Grund Ihrer Anfrage mitteilen.</p>
    </div>
    <div class="section">
        <h2>6. Verwendung von Google Analytics</h2>
        <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google LLC. Google Analytics verwendet Cookies, um eine Analyse der Nutzung der Webseite zu ermöglichen.</p>
    </div>
    
    <div class="section">
        <h2>6.1 Rechtsgrundlage</h2>
        <p>Die Verarbeitung Ihrer Daten erfolgt nur mit Ihrer ausdrücklichen Einwilligung gemäß Artikel 6 Absatz 1 Buchstabe a der DSGVO.</p>
    </div>
    
    <div class="section">
        <h2>6.2 Empfänger</h2>
        <p>Empfänger der Daten ist Google als Auftragsverarbeiter.</p>
    </div>
    
    <div class="section">
        <h2>6.3 Speicherdauer</h2>
        <p>Die Löschung der Daten erfolgt, sobald diese für unsere Aufzeichnungszwecke nicht mehr erforderlich sind.</p>
    </div>
    
    <div class="section">
        <h2>6.4 Drittlandtransfer</h2>
        <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU_US Privacy Shield unterworfen.</p>
    </div>
    
    <div class="section">
        <h2>6.5 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig und ausschließlich auf Basis Ihrer Einwilligung.</p>
    </div>
    
    <div class="section">
        <h2>7. Widerruf der Einwilligung</h2>
        <p>Zusätzlich oder als Alternative können Sie das Tracking durch Google Analytics auf unseren Seiten unterbinden.</p>
    </div>
    
    <div class="section">
        <h2>8. Profiling</h2>
        <p>Mit Hilfe von Google Analytics kann das Verhalten der Besucher der Webseite bewertet und Interessen analysiert werden.</p>
    </div>
    
    <div class="section">
        <h2>9. Verwendung von Google Webfonts</h2>
        <p>Um unsere Inhalte korrekt und ansprechend darzustellen, verwenden wir Google Web Fonts.</p>
    </div>
    <div class="section">
        <h2>9.1 Rechtsgrundlage</h2>
        <p>Rechtsgrundlage für die Einbindung von Google Webfonts und dem damit verbundenen Datentransfer zu Google ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
    </div>
    
    <div class="section">
        <h2>9.2 Empfänger</h2>
        <p>Der Aufruf von Scriptbibliotheken oder Schriftbibliotheken löst automatisch eine Verbindung zum Betreiber der Bibliothek aus. Dabei ist es theoretisch möglich, dass der Betreiber in diesem Fall Google Daten erhebt.</p>
    </div>
    
    <div class="section">
        <h2>9.3 Speicherdauer</h2>
        <p>Wir erheben keine personenbezogenen Daten durch die Einbindung von Google Webfonts.</p>
        <p>Weitere Informationen zu Google Web Fonts finden Sie unter <a href="https://developers.google.com/fonts/faq">hier</a> und in der <a href="https://www.google.com/policies/privacy/">Datenschutzerklärung von Google</a>.</p>
    </div>
    
    <div class="section">
        <h2>9.4 Drittlandtransfer</h2>
        <p>Google verarbeitet Ihre Daten in den USA und hat sich den Bestimmungen des EU-US-Datenschutzschilds unterworfen. Mehr dazu <a href="https://www.privacyshield.gov/EU-US-Framework">hier</a>.</p>
    </div>
    
    <div class="section">
        <h2>9.5 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Bereitstellung der personenbezogenen Daten ist weder gesetzlich noch vertraglich vorgeschrieben. Ohne Webfonts kann jedoch die korrekte Darstellung von Inhalten eingeschränkt sein.</p>
    </div>
    
    <div class="section">
        <h2>9.6 Widerruf der Einwilligung</h2>
        <p>Zur Darstellung der Inhalte wird regelmäßig die Programmiersprache JavaScript verwendet. Sie können der Datenverarbeitung widersprechen, indem Sie JavaScript in Ihrem Browser deaktivieren oder einen JavaScript-Blocker installieren. Beachten Sie, dass dadurch Funktionseinschränkungen auftreten können.</p>
    </div>
    
    <div class="section">
        <h2>10. Verwendung von Google Maps</h2>
        <p>Unsere Webseite nutzt Google Maps, um interaktive Karten bereitzustellen.</p>
    </div>
    <div class="section">
        <h2>10.1 Rechtsgrundlage</h2>
        <p>Rechtsgrundlage für die Einbindung von Google Maps und dem damit verbundenen Datentransfer zu Google ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
    </div>
    
    <div class="section">
        <h2>10.2 Empfänger</h2>
        <p>Durch den Besuch der Webseite erhält Google Informationen, dass Sie die entsprechende Unterseite unserer Webseite aufgerufen haben. Dies erfolgt unabhängig davon, ob Google ein Nutzerkonto bereitstellt oder nicht. Falls Sie eingeloggt sind, wird Ihre Aktivität direkt Ihrem Konto zugeordnet.</p>
        <p>Wenn Sie dies nicht wünschen, loggen Sie sich bitte vor Aktivierung von Google Maps bei Google aus. Google speichert Ihre Daten als Nutzungsprofile für Werbung, Marktforschung und bedarfsgerechte Webseiten-Gestaltung. Ihnen steht ein Widerspruchsrecht gegen die Bildung dieser Nutzerprofile zu, das Sie bei Google geltend machen müssen.</p>
    </div>
    
    <div class="section">
        <h2>10.3 Speicherdauer</h2>
        <p>Wir erheben keine personenbezogenen Daten durch die Einbindung von Google Maps.</p>
    </div>
    
    <div class="section">
        <h2>10.4 Drittlandtransfer</h2>
        <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU_US Privacy Shield unterworfen. Mehr dazu <a href="https://www.privacyshield.gov/EU-US-Framework">hier</a>.</p>
    </div>
    
    <div class="section">
        <h2>10.5 Widerruf der Einwilligung</h2>
        <p>Falls Sie nicht möchten, dass Google über unseren Internetauftritt Daten über Sie erhebt oder verarbeitet, können Sie in den Browsereinstellungen JavaScript deaktivieren. Beachten Sie, dass dadurch Google Maps möglicherweise nicht mehr nutzbar ist.</p>
    </div>
    
    <div class="section">
        <h2>10.6 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig auf Basis Ihrer Einwilligung. Bei Verweigerung kann es zu Funktionseinschränkungen kommen.</p>
    </div>
    <div class="section">
        <h2>11. Eingebettete YouTube-Videos</h2>
        <p>Auf einigen unserer Webseiten betten wir YouTube-Videos ein.</p>
    </div>
    <div class="section">
        <h2>11.1 Rechtsgrundlage</h2>
        <p>Rechtsgrundlage für die Einbindung von YouTube und dem damit verbundenen Datentransfer zu Google ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
    </div>
    
    <div class="section">
        <h2>11.2 Empfänger</h2>
        <p>Der Aufruf von YouTube löst automatisch eine Verbindung zu Google aus.</p>
    </div>
    
    <div class="section">
        <h2>11.3 Speicherdauer und Widerruf der Einwilligung</h2>
        <p>Wer das Speichern von Cookies für das Google-Ad-Programm deaktiviert hat, wird auch beim Anschauen von YouTube-Videos mit keinen solchen Cookies rechnen müssen. YouTube legt aber auch in anderen Cookies nicht-personenbezogene Nutzungsinformationen ab. Möchten Sie dies verhindern, so müssen Sie das Speichern von Cookies im Browser blockieren.</p>
        <p>Weitere Informationen zum Datenschutz bei „YouTube“ finden Sie in der <a href="https://www.google.de/intl/de/policies/privacy/">Datenschutzerklärung von YouTube</a>.</p>
    </div>
    
    <div class="section">
        <h2>11.4 Drittlandtransfer</h2>
        <p>In den USA verarbeitet Google Ihre Daten und hat sich den Bestimmungen des EU-US-Datenschutzschilds unterworfen. Mehr dazu <a href="https://www.privacyshield.gov/EU-US-Framework">hier</a>.</p>
    </div>
    
    <div class="section">
        <h2>11.5 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Bereitstellung Ihrer personenbezogenen Daten erfolgt freiwillig und basiert allein auf Ihrer Einwilligung. Bitte beachten Sie, dass eine Einschränkung des Zugriffs zu Funktionseinschränkungen auf der Website führen kann.</p>
    </div>
    
    <div class="section">
        <h2>12. Google AdWords</h2>
        <p>Unsere Webseite nutzt Google Conversion-Tracking zur Erfolgsmessung von Anzeigen.</p>
    </div>
    <div class="section">
        <h2>12.1 Rechtsgrundlage</h2>
        <p>Rechtsgrundlage für die Einbindung von Google AdWords und dem damit verbundenen Datentransfer zu Google ist Ihre Einwilligung (Art. 6 Abs. 1 lit. a DSGVO).</p>
    </div>
    
    <div class="section">
        <h2>12.2 Empfänger</h2>
        <p>Bei jedem Besuch unserer Webseite werden personenbezogene Daten, einschließlich Ihrer IP-Adresse, an Google in die USA übertragen. Diese personenbezogenen Daten werden durch Google gespeichert und unter Umständen an Dritte weitergegeben.</p>
    </div>
    
    <div class="section">
        <h2>12.3 Speicherdauer</h2>
        <p>Diese Cookies verlieren nach 30 Tagen ihre Gültigkeit und dienen nicht der persönlichen Identifizierung.</p>
    </div>
    
    <div class="section">
        <h2>12.4 Drittlandtransfer</h2>
        <p>Google verarbeitet Ihre Daten in den USA und hat sich dem EU_US Privacy Shield unterworfen.</p>
    </div>
    
    <div class="section">
        <h2>12.5 Widerruf der Einwilligung</h2>
        <p>Sie können das Setzen eines Cookies ablehnen, indem Sie die entsprechenden Browsereinstellungen vornehmen.</p>
    </div>
    
    <div class="section">
        <h2>12.6 Bereitstellung vorgeschrieben oder erforderlich</h2>
        <p>Die Entscheidung, Ihre personenbezogenen Daten bereitzustellen, liegt ganz bei Ihnen. Eine Einschränkung kann jedoch zu Beeinträchtigungen der Website-Funktionen führen.</p>
    </div>
    
    <div class="section">
        <h2>13. SSL-Verschlüsselung</h2>
        <p>Zum Schutz Ihrer Daten nutzen wir moderne Verschlüsselungsverfahren (SSL) über HTTPS.</p>
    </div>
    
    <div class="section">
        <h2>14. Änderung unserer Datenschutzbestimmungen</h2>
        <p>Wir behalten uns vor, diese Datenschutzerklärung anzupassen, um sie aktuellen rechtlichen Anforderungen anzupassen.</p>
    </div>
        
    <div class="section">
        <h2>15. Fragen an den Datenschutzbeauftragten</h2>
        <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden Sie sich direkt an die verantwortliche Person:</p>
        <p><a href="mailto:zirkusmond@gmail.com">zirkusmond@gmail.com</a></p>
    </div>
<br>
<br>
<br>
<br>
