{% extends "html_base.html" %}

{% block head %}

{{ block.super }}

<link rel="stylesheet" type="text/css" href="/static/zm/node_modules/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/static/zm/node_modules/slick-carousel/slick/slick-theme.css"/>


<script type="text/javascript" src="/static/zm/node_modules/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="/static/zm/node_modules/slick-carousel/slick/slick.min.js"></script>

<script type="text/javascript" src="/static/zm/node_modules/simple-parallax-js/dist/simpleParallax.min.js"></script>

<script type="text/javascript" src="/static/zm/node_modules/perspective.js/lib/perspective.js"></script>
{% endblock %}
