{% load static %}

<!doctype html>
<html lang="de">


<head>

    {% block head %}
    <meta charset="utf-8">
    <meta name="description"    content="{% block head_description %}{% endblock %}">
    <meta name="keywords"       content="{% block head_keywords %}{% endblock %}">
    <link rel="stylesheet" href="{% static "zm/design.css" %}">

    <title>{% block title %}Zirkus Mond{% endblock %}</title>

    {% endblock %}
    {% block head_js %}
    <link rel="stylesheet" type="text/css" href="/static/zm/node_modules/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/zm/node_modules/slick-carousel/slick/slick-theme.css"/>


    <script type="text/javascript" src="/static/zm/node_modules/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="/static/zm/node_modules/slick-carousel/slick/slick.min.js"></script>

    <script type="text/javascript" src="/static/zm/node_modules/simple-parallax-js/dist/simpleParallax.min.js"></script>

    <script type="text/javascript" src="/static/zm/node_modules/perspective.js/lib/perspective.js"></script>
    {% endblock %}
</head>
    
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
