{% extends "html_base.html" %}
{% load static %}

{% block body %}

    <div class="container">
        {% block content-header %}
        <div>
            <img src="/static/zm/img/mond.png"
                style="width:30%;margin-left: 35%; margin-right: 35%;margin-top:.3em;margin-bottom:1.7em;">
        </div>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block content-footer %}
        <div class="deko" style="margin-top:8em;"> <img src="/static/zm/img/copy.png"> </div>
        {% endblock %}
    </div>
{% endblock %}
