{% load static %}

<!doctype html>
<html lang="de">


<head>

    {% block head %}
    <meta charset="utf-8">
    <meta name="description"    content="{% block head_description %}{% endblock %}">
    <meta name="keywords"       content="{% block head_keywords %}{% endblock %}">
    <link rel="shortcut icon" href="{% static "zm/img/logo.png" %}">
    <title>{% block title %}Zirkus Mond{% endblock %}</title>

    {% endblock %}
    {% block head_js %}
    <script type="text/javascript" src="/static/zm/node_modules/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <link rel="stylesheet" type="text/css" href="/static/zm/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static "zm/design.css" %}">
    {% endblock %}
</head>
    
</head>
<body>
    <script type="text/javascript" src="/static/zm/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    {% block body %}
    {% endblock %}
</body>
</html>
