{% extends "html_base.html" %}
{% load static %}

{% block head_description %}Zirkus Mond – Dein Zirkus in Berlin! Entdecke unser Programm: Live Shows, Events, Community und zeitgenössische Zirkuskunst im Herzen Berlins.{% endblock %}
{% block head_keywords %}, Zirkus Mond Shows, Zirkus Mond Events, Zirkus Mond Programm, Zirkus Mond Tickets, Zirkus Mond Community, Zirkus Mond Kultur, Live Shows Berlin, Kulturveranstaltungen Berlin, Bühnenkunst Berlin, Community Kultur Berlin, kreativer Treffpunkt Berlin, Kulturort Berlin, Begegnungsort Kunst, offene Kulturräume, kreative Gemeinschaft, kultureller Austausch, kulturelle Begegnung, kreative Berliner:innen, internationale Community Berlin, Kulturinteressierte Berlin, Kunstszene Berlin, alternatives Publikum, zeitgenössischer Zirkus in Berlin, Kulturveranstaltungen abseits des Mainstreams, unabhängiger Zirkus Berlin{% endblock %}

{% block body %}

{% include "navbar.html" %}

{% include "container_intro.html" %}

{% include "container_events.html" %}

{% include "container_gallery.html" %}

{% include "container_last.html" %}


{% endblock %}
