<div class="navbar top-0 fixed flex justify-between w-screen items-center h-20 z-50 lg:px-24">
    <div class="logo flex justify-center">
        <a href="/">
            <img class="h-full" src="/static/zm/img/logo_16x9.png" alt="Zirkusmond logo" width="100">
        </a>
    </div>
    <div class="flex nav-items justify-evenly w-2/5">
        <a class="text-2xl w-fit" href="/events">Events</a>
        <a class="text-2xl w-fit" href="/about">About</a>
        <a class="text-2xl w-fit" href="/contact">Contact</a>
    </div>
    <button id='menu-btn'
            class='hamburger md:hidden flex focus:outline-none items-center'>
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
    </button>
    <div class="mobile-menu hidden flex-col w-fit absolute">
        <a class="text-2xl w-fit" href="/events">Events</a>
        <a class="text-2xl w-fit" href="/about">About</a>
        <a class="text-2xl w-fit" href="/contact">Contact</a>
    </div>
    </a>
</div>