<div class="section-outro">
    <p>Der Zirkus Mond, Treffpunkt der Berliner Artistenszene, Veranstaltungsort für Zirkus, Theater, Tanz & Konzerte erwuchs 2018 aus den Umtrieben der Kinder Des Mondes, einem fluiden Kollektiv internationaler ArtistInnen, TänzerInnen & KünstlerInnen, die zuvor über 10 Jahre im kulturellen Untergrund Berlins agierten und in unregelmäßigen Abständen leer stehende Gebäude, Brachflächen oder auch öffentliche Plätze mit Liebe und Leben füllten. Nun gibt es im Himmelskörper-Habitat Zirkus Mond jeden Monat 2 eigenproduzierte Shows und 2 Gastveranstaltungen, wobei durch wechselnde ArtistInnen und Konzepte jede Show ein Unikat ist.</p>

    <p>Die Pforten unseres Zirkuszeltes stehen offen für alle, die Lust haben, einen Ort der Gemeinschaft, des Schaffens und der Liebe zum Leben zu besuchen, zu bespielen und mitzugestalten.</p>
</div>
