{% extends "html_design.html" %}
{% load static %}
{% load markdown %}

{% block title %}Zirkus Mond - {{ show.title }}{% endblock %}

{% block content-header %}
        <img src="{{ MEDIA_URL }}{{ show.banner_link }}"
            style="width:100%; margin-bottom: 1.5em;"></img>
{% endblock %}

{% block content %}
        <div style="margin-top: 2em;">
            {% block show_details %}
                <div style="color: white;">
                    {{ show.description | markdown | safe}}
                </div>
                <div style="margin-top:2em;">
                <a class="button" href="/reserve/{{show.pk}}">Zur Reservierung</a>
                </div>
            {% endblock %}
        </div>
{% endblock %}
