{% load static %}

<div class="zm-container">
  <div class="flex flex-col lg:flex-row contact justify-between lg:mx-16 p-4">
    <div class="lg:w-1/3 flex flex-col items-center">
      <h2 class="my-6 text-3xl text-white">Contact</h2>
      <div class="social w-full flex justify-center items-center">
        <div class="office-contact flex flex-col">
          <div class="flex justify-evenly items-center py-4">
            <a href="https://www.youtube.com/channel/UCa4CK1Fl7ZpTA6mz04wH6CA">
              <img
                class="w-12"
                src="{% static 'media/images/icons/youtube.svg' %}"
                alt="YouTube"
              />
            </a>
            <a href="https://de-de.facebook.com/zirkusmond">
              <img
                class="w-12"
                src="{% static 'media/images/icons/facebook.svg' %}"
                alt="Facebook"
              />
            </a>
            <a href="https://www.instagram.com/zirkus_mond/">
              <img
                class="w-12"
                src="{% static 'media/images/icons/instagram.svg' %}"
                alt="Instagram"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="office-contact flex">
        <p class="text-lg p-6">
          Direct matters concerning reservations
          <a class="block my-6 underline" id="reservation-email-link"></a>
          <script>
            (function () {
              const el = document.getElementById("reservation-email-link");
              el.textContent = "zirkusmond@gmail.com";
              el.href = "mailto:zirkusmond@gmail.com";
            })();
          </script>
        </p>
      </div>
    </div>
    <div class="my lg:w-1/3 flex justify-center">
      <div class="lg:w-3/5 w-4/5">
        <h2 class="my-6 text-3xl text-white">Find us</h2>
        <img
          class="w-9/12 m-auto max-w-80"
          src="/static/media/images/gallery/map.webp"
          alt="Der Zirkus liegt in der Nähe der Lili-Henoch-Str."
        />
      </div>
    </div>
    <div class="last-blocks text-center lg:w-1/3">
      <h2 class="text-center text-3xl my-6 text-white">Mailing List</h2>
      <p class="office-contact text-lg lg:pr-6">
        Want to be notified about new Shows? Hear what's going on on the moon?
        Not be forgotten or left out? Become part of our magical Mailing List!
      </p>
      <p class="office-contact text-lg lg:pr-6 pt-4">
        You can also join our Telegram
        <a
          class="underline"
          href="https://t.me/+bTzQFVB2cHc5b4Zm"
          target="_blank"
          >channel</a
        >!
      </p>
      <div class="my-6">
        <form action="/newsletter/newsletter-registration" method="post">
          {% csrf_token %}
          <div>
            <label for="id_email">Email:</label>
            <input
              class="my-6"
              type="email"
              name="email"
              maxlength="254"
              required
              id="id_email"
            />
          </div>
          <input type="submit" value="Submit" class="button mt-8" />
        </form>
      </div>
      <div class="last-blocks pb-6">
        <h2 class="text-3xl text-white">Support Us</h2>
        <div class="ls-iban my-6 text-center">
          <h2 class="my-6 text-base my-4">Bank Transfer/Überweisung:</h2>
          <p class="py-4">IBAN: DE34 4306 0967 1226 9437 00</p>
          <p class="text-base">BIC: GENODEM1GLS</p>
        </div>
        <div class="ls-betterplace">
          <a
            href="https://www.paypal.com/donate?hosted_button_id=AA2ZBHH6JHX9E"
            class="button"
            id="donate-btn"
            >Donate via PayPal</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mb-8 lg:mx-16">
  <div class="flex gap-4 justify-evenly">
    <a href="/impressum"><h4 class="text-xl my-6 underline">Impressum</h4></a>
    <a href="/datenschutz"
      ><h4 class="text-xl my-6 underline">Datenschutz</h4></a
    >
  </div>
  <div class="flex flex-col md:flex-row">
    <div class="px-4 lg:w-1/3">
      Tent at: Lilli-Henoch-Str. Office at: Kultstätte 58 GmbH Körtestraße 38
      10967 Berlin
    </div>
    <div class="px-4 lg:w-1/3">Geschäftsführer Max Mohr <br /></div>
    <div class="px-4 lg:w-1/3">
      Steuer-Nr.: 37 / 406 / 50011 Steuer-ID: DE65 812 397 023 USt-IdNr:
      DE319431419
    </div>
  </div>
</div>
